.container {
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 0.3s ease;
    background: transparent;
    z-index: 3;
    width: auto;
    height: auto;
}

