.swiper{
	width:100%;
	height: auto;
	box-sizing: border-box;
	overflow: hidden;
	user-select: none;
}

.swiper-wrapper{
	height: auto;
	width: auto;
	user-select: none;
}

/* .swiper-pagination{
	margin-top: 20px;
	position: relative
} */

.swiper-pagination .swiper-pagination-bullet {
	background-color: cyan; 
}


