@font-face {
  font-family: "Montserrat-Thin";
  src: url("../../assets/fonts/Montserrat/static/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100 900;
  /* Adjust the range of weights based on the font file */
  font-style: italic;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../../assets/fonts/Montserrat/static/Montserrat-Light.ttf") format("truetype");
  font-weight: 100 900;
  /* Adjust the range of weights based on the font file */
  font-style: italic;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../assets/fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: 100 900;
  /* Adjust the range of weights based on the font file */
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../assets/fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
  font-weight: 100 900;
  /* Adjust the range of weights based on the font file */
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../assets/fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: 100 900;
  /* Adjust the range of weights based on the font file */
  font-style: normal;
}

:root {
  --font-family-thin: "Montserrat-Thin";
  --font-family-light: "Montserrat-Light";
  --font-family-regular: "Montserrat-Regular";
  --font-family-medium: "Montserrat-Medium";
  --font-family-bold: "Montserrat-Bold";
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Universal scrollbar styles */
* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.2); /* Thumb and track colors */
}

/* For WebKit-based browsers */
*::-webkit-scrollbar {
  width: 12px; /* Scrollbar width */
  height: 12px; /* Scrollbar height */
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2); /* Semi-transparent track */
  backdrop-filter: blur(4px); /* Glass-like effect */
  border-radius: 6px; /* Rounded track corners */
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent thumb */
  backdrop-filter: blur(4px); /* Glass-like effect for the thumb */
  border-radius: 6px; /* Rounded thumb corners */
  border: 2px solid rgba(0, 0, 0, 0.2); /* Creates spacing for the thumb */
}

/* Remove scrollbar arrows */
*::-webkit-scrollbar-button {
  display: none; /* Hide arrows */
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }
}

[data-theme="dark"] {
  --color: #f6f6f6;
  --icon-color-1: #f6f6f6;
  --icon-color-2: #396cd8;
  --fab-background-color-1: #396cd8;
  --selected-menu-background-color: #396cd8;
  --selected-tag-color: #396cd8;
  --background-color: rgb(15,18,20);
  --background-color-layer-1: rgb(30,30,30);
}