.container{
	width: 100%;
	height: auto;
	background: var(--background-1);
	flex:1;
	display: flex;
	flex-direction: column;
	overflow-x: auto;
	overflow-y: auto;
	box-sizing: border-box;
}

.container_1{
	width: 100%;
	height: fit-content;
	min-height: calc((100vw + 100vh)/2*0.45);
	background-size: cover; 
	background-position: center center; 
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: flex-start;
}


.container_1_filter{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	pointer-events: none;

	background: rgba(0, 0, 0, 0.25); 
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.container_1_btn_box{
	width: 100%;
	height: auto;
	
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	justify-content: space-between;
}



.container_1_box {
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
}

.container_1_box .container_1_box_img_box{
	width: calc((100vw + 100vh)/2*0.18);
	margin-left: 18px;
	margin-bottom: 18px;
	box-sizing: border-box;
	position: relative;
}

.container_1_box .container_1_box_img{
	border-radius: 5px;
	width: 100%;
	height: calc((100vw + 100vh)/2*0.25);
	object-fit: cover;
	user-select: none;
}

.container_1_box .container_1_box_title{
	color: var(--color-1);
	font-family: var(--font-family);
	font-size: calc((100vw + 100vh)/2*0.045);
	user-select: none;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis; 
	display: -webkit-box;
	line-clamp: 2;
	-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	white-space: normal;
	word-break: keep-all;

}


.container_2 {
	width: 100%;
	height: auto;
	padding: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 8px;
}

.container_2_box {
	border: 2px solid red;
	background: var(--background-2);
	border-radius: 5px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	padding-left: 5px; padding-right: 5px;
}

.container_2_box .container_2_box_text{
	color: red;
	padding: 5px;
	font-family: var(--font-family);
	font-size: calc((100vw + 100vh)/2*0.025);
	font-weight: 400;
	user-select: none;
	white-space: wrap;
	max-width: 100%;
	word-break: break-all;
}


.container_3 {
	width: 100%;
	height: auto;
	padding: 18px;
}

.container_3_title_box{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2.5px solid var(--background-2);
}

.container_3_title{
	color: var(--color-1);
	padding: 5px;
	font-family: var(--font-family);
	font-size: calc((100vw + 100vh)/2*0.04);
	font-weight: 600;
	user-select: none;
}


.container_3_text_box{
	width: 100%;
	height: auto;
	padding: 12px;
}
.container_3 .container_3_text{
	color: var(--color-1);
	font-family: var(--font-family);
	font-size: calc((100vw + 100vh)/2*0.025);
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis; 
	display: -webkit-box;
	
    -webkit-box-orient: vertical;
	white-space: normal;
	word-break: keep-all;
}

.season_frame{
	width: 100%;
	height: auto;
}

.season_container{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	gap: 12px;
	box-sizing: border-box;
	overflow: auto;
	padding: 12px;
}



.episode_container{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 18px;

	display: flex;
	flex-direction: column;
	gap: 12px;
}

.episode_header_box{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2.5px solid var(--background-2);
	padding: 8px;
}

.episode_header_box_text{
	color: var(--color-1);
	padding: 5px;
	font-family: var(--font-family);
	font-size: calc((100vw + 100vh)/2*0.04);
	font-weight: 600;
	user-select: none;
}

.episode_header_button_box{
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
}


.episode_frame{
	width: 100%;
	height: auto;
	border-radius: 8px;
	border-top: 4px solid var(--background-3);
	border-bottom: 4px solid var(--background-3);
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
}

.episode_box{
	width: 100%;
	height: fit-content;
	max-height: calc((100vw + 100vh)/2*0.75);
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 12px;
	padding: 8px;
}

.episode_item{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
}

.link_plugin_box{
	width: 100%;
	height: 100%;
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 25px;
}


.no_episode_box{
	flex:1;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.no_episode_box .no_episode_text {
	color: var(--color-1);
	padding: 8px;
	font-size: calc((100vw + 100vh)/2*0.025);
	border-radius: 8px;
	user-select: none;
	font-weight: 600;
}

.pagination_box{
	width: 100%;
	display: flex;	
	justify-content: center;
	align-items: center;
	padding: 12px;
}





.trailer_container{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	padding: 12px;
	padding-bottom: calc(12px + var(--safe-area-bottom, 0));

	background: rgba(0, 0, 0, 0.4); /* semi-transparent black */
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2.5px);
	-webkit-backdrop-filter: blur(2.5px);
	overflow-y: auto;

}

.trailer{
	width: 100%;
	flex:1;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	overflow: hidden;
}


.skeleton_container{
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.skeleton_box_1{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-left: 12px; padding-right: 12px;
	gap: 12px;
}
