.container{
	width: 100%;
	height: auto;
	background: var(--background-1);
	flex:1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	box-sizing: border-box;
}

.top_navigation_bar_container{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 0 18px;
	align-items: center;
}


.header_container{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 8px;
	border-bottom: 2.5px solid var(--background-3);
	padding-top: 12px;
}

.header_container .tag_container{
	flex: 1;
	display: flex;
	flex-direction: row;
	overflow: auto;
	background: transparent;
	/* gap: 12px; */
}

.body_container{
	padding: 18px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	overflow: auto;
	width: 100%;
	flex: 1;
}


.top_box{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 8px;
	width: 100%;
	height: auto;
}

.search_container {
	flex:1;
	height: auto;
	border-radius: 16px;
	background: var(--background-2);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.search_input {
	all: unset;
	flex: 1;
	margin: 8px;
	color: var(--color-1);
	background: transparent;
	font-family: var(--font-family);
	font-size: max(12px, calc((100vw + 100vh) / 2 * 0.02));
	box-sizing: border-box;
	user-select: none;
}


.grid_box_container{
	width: 100%;
	flex: 1;
}

.content_data_box{
	width: calc((100vw + 100vh)/2 * 0.18);
	height: auto;
}

.content_data_box .content_data_img {
	width: 100%;
	height: calc((100vw + 100vh)/2 * 0.25);
	object-fit: cover;
	border-radius: 5px;
}

.content_data_box .content_data_title {
	color: var(--color-1);
	font-family: var(--font-family);
	font-size: calc((100vw + 100vh)/2*0.025);
	font-weight: 400;
	user-select: all;
	width: 100%;
	max-height: 50%;
	overflow: hidden;
	text-overflow: ellipsis; 
	display: -webkit-box;
	line-clamp: 2;
	-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	white-space: normal;
	word-break: keep-all;
}

.no_result_box{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.no_result_text{
	color: var(--color-1);
	padding: 8px;
	font-size: calc((100vw + 100vh)/2*0.0425);
	user-select: none;
	font-weight: 600;
}