
.container{
    width: 100%;
    background: var(--background-color-layer-1);
    height: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.box_1{
    display: flex;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    flex-direction: row;
    border-radius: inherit;
}


.cover_box{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: var(--background-color);
    gap: 8px;
    border-top-left-radius: inherit; border-bottom-left-radius: inherit;
}

.cover{
    width: calc((100vw + 100vh)*0.16/2);
    height: calc((100vw + 100vh)*0.235/2);
    box-sizing: border-box;
    background: var(--background-color);
    border-top-left-radius: inherit; border-bottom-left-radius: inherit;
}

.info_container{
    flex:1;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.info_box_1{
    width: 100%;
    height: auto;
    display: flex;
    padding:12px;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: column;
    gap:12px;
}

.title{
    width: 100%;
    font-size: calc((100vw + 100vh)*0.03/2);
    color: var(--color);
    font-family: var(--font-family-medium);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.progress_box{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 12px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
.progress_text{
    font-size: calc((100vw + 100vh)*0.025/2);
    color: var(--color-2);
    font-family: var(--font-family-medium);
    white-space: nowrap;
    display: inline-block;
}

.box_2{
    width: 100%;
    background: var(--background-color-layer-1);
    height: auto;
    max-height: calc((100vw + 100vh)*0.35/2);
    border-bottom-left-radius: inherit; border-bottom-right-radius: inherit;
    padding: 12px;
    overflow-y: auto;
    overflow-x: hidden;
}

.item_data_box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 8px;
}

.item_data_title{
    flex: 1;
    font-size: calc((100vw + 100vh)*0.0225/2);
    color: var(--color);
    font-family: var(--font-family-medium);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    user-select: none;
}

