.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    box-sizing: border-box;
    overflow: auto;
}

.container > *{
    flex-grow: 0;
    flex-shrink: 0;
}

.header{
    display: flex;
    flex-direction: row;
    gap:12px;
    padding: 18px;
    background: var(--background-color);
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.body{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    gap:12px;
    box-sizing: border-box;
    overflow: auto;
    padding:18px;
}

.body_box_1{
    width: 100%;
    height: calc((100vh + 100vw)*0.55/2);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:8px;
    overflow: hidden;
    overflow-x: auto;
}

.body_box_2{
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap:12px;
    margin-top: 25px;
    border-radius: 12px;
    border-top: 5px solid var(--background-color-layer-1);
    border-bottom: 5px solid var(--background-color-layer-1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    box-sizing: border-box;
    max-height: calc((100vw + 100vh) * 0.4 / 2);
    overflow: auto;
}
.body_box_2 > * {
    flex-grow: 0;
    flex-shrink: 0;
}
.body_box_3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:18px
}

.body_box_4{
    width: 100%;
    height: auto;
}