.container{
	width: 100%;
	height: auto;
	background: var(--background-1);
	flex:1;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
}

.header_container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 12px;
	gap: 8px;
	box-sizing: border-box;
	width: 100%;
}


.container_1{
	display: flex;
	flex-direction: column;
}

.player_box{
	width: 100%;
	box-sizing: border-box;
	
}

/* Tools */
.tool_box{
	width: 100%;
	height: auto;
	background: var(--background-1);
	
}

.player_options_container{
	width: 100%;
	height: auto;
	background: var(--background-1);
	border-radius: 5px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap-reverse;
	padding: 0 18px;
}

.server_container{
	width: 100%;
	height: auto;
	background: var(--background-2);
	border-radius: 5px;
}

.server_box{
	width: 100%;
	height: auto;
	
	border-bottom: 2px dashed var(--background-3);
	display: flex;
	flex-direction: row;
	overflow: hidden;
	box-sizing: border-box;
}

.server_box:last-child{
	border-bottom: none;
}

.server_label{
	color: var(--color-1);
	font-family: var(--font-family);
	font-size: calc((100vw + 100vh)/2*0.0175);
	user-select: none;
	padding: 18px;
}

.server_item_box{
	display: flex;
	width: fit-content;
	max-width: 100%;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 12px;
	overflow: auto;
	padding-left: 12px; padding-right: 12px;
}

.play_action_container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* --- */

.episode_container{
	width: 100%;
	height: calc((100vw + 100vh)/2*0.75);
	background: var(--background-2);
	border: 2px solid var(--background-1);
	border-left: none;
	border-right: none;
	border-bottom: none;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.episode_header_box{
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 12px;
	box-sizing: border-box;
	background: var(--background-1);
}


.search_container {
	width: 100%;
	height: auto;
	border-radius: 16px;
	background: var(--background-2);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 12px;
}

.search_input {
	all: unset;

	flex: 1;
	margin: 8px;
	color: var(--color-1);
	background: transparent;
	font-family: var(--font-family);
	font-size: max(12px, calc((100vw + 100vh) / 2 * 0.02));
	box-sizing: border-box;
	user-select: none;
}


.episode_body_box{
	width: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	gap: 2.5px;
	background: var(--background-1);
	box-sizing: border-box;

}

.episode_item_box{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}