.container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;left: 0;
    background: transparent;
    z-index: 2;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    padding: 18px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    background: var(--background-color);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap:0;
    box-sizing: border-box;
    overflow: auto;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    gap:18px;
}

.title{
    color: var(--color);
    font-family: var(--font-family-bold);
}

.body{
    width: auto;
    height: 100%;
    background: var(--background-color-layer-1);
    border-bottom-right-radius: inherit; border-bottom-left-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:18px;
    box-sizing: border-box;
    overflow: auto;
    padding: 18px;
}

.body_box_1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.feedback_text{
    color: var(--color);
    font-family: var(--font-family-bold);
    font-size: calc((100vw + 100vh)*0.03/2);
    text-align: center;
}

.body_box_2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}