.container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;


    background: rgba(0, 0, 0, 0.4); /* semi-transparent black */
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2.5px);
	-webkit-backdrop-filter: blur(2.5px);

    display: flex;
    overflow: auto;


}

.login_box{
    min-width: calc((100vw + 100vh)/2 * 0.5);
    border-radius: 5px;
    margin: auto;
    width: auto;
    height: auto;
    background: var(--background-2);
}

.title{
    color: var(--color-1);
    padding: 12px;
    font-size: calc((100vw + 100vh)/2*0.0575);
    user-select: none;
    text-align: center;
    font-weight: 700;
}

.text_field_box{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 18px;
}

.button_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    
    padding: 12px;
}
